<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EldenRingFPSUnlockAndMore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EldenRingFPSUnlockAndMore.Properties.Settings>
            <setting name="FrameLock" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\ELDEN RING\Game</value>
            </setting>
            <setting name="FrameLockTicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fov" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FovTicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GameSpeedTicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisablePenaltyTicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>eldenring</value>
            </setting>
            <setting name="WidescreenTicked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoSteamTicked" serializeAs="String">
                <value>False</value>
            </setting>
        </EldenRingFPSUnlockAndMore.Properties.Settings>
    </userSettings>
</configuration>